 
<div class="demo-ribbon" ></div>
<div class="container de ">


<BR>
   <%= render :partial => 'template/alerts' %>

<BR>
<BR>
<BR>
<div class="row">
   <div class="card">
      <div class="card-image">
       

      </div>
      <div class="card-content" style="padding: 40px;">
               <span class="card-title " > Editar mi perfil  </span>
         <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
     <% if resource.errors.any? %>
        <script >
       Materialize.toast('Error al cambiar al editar perfil.', 4000)
      </script>
     <% end %>

 

        


        
         <div class="field">
            <%= f.label :Usuario  %><br />
            <%= f.email_field :email, autofocus: true %>
         </div>
         <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
         <div>Actualmente la espera de confirmación for: <%= resource.unconfirmed_email %></div>
         <% end %>
         <div class="field">
            <%= f.label :Contraseña  %> <i>(Dejar en blanco si no desea cambiarlo)</i><br />
            <%= f.password_field :password, autocomplete: "off" %>
         </div>
         <div class="field">
            <%= f.label :confirmar_contraseña  %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
         </div>
         <div class="field">
            <%= f.label :contraseña_actual %> <i>(Necesitamos su contraseña actual para confirmar los cambios)</i><br />
            <%= f.password_field :current_password, autocomplete: "off" %>
         </div>
         
         <div class = "center-align">
            <div class="waves-effect waves-light btn colora " >
               <%= f.submit "Actualizar" %>
            </div>
         </div>
         <% end %>
      </div>
      <div class="card-action">
         <a href="#"> <%= link_to "Atras", :back , :class => "" %></a>
      </div>
   </div>
</div>

